@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Colors */
:root {
  --background-color: #000000;
}

/* Button Colors */
:root {
  --primary-button-bg: #E92B0D;
  --primary-button-text: #FAF3E8;
}
